html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}



body {
	font-family: "Poppins", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.8;
	font-weight: normal;
	background: #fafafa;
	color: gray; }
  
  a {
	  text-decoration: none;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	color: #04397b; }
	a:hover, a:focus {
	  text-decoration: none !important;
	  outline: none !important;
	  -webkit-box-shadow: none;
	  box-shadow: none; }
  
  button {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease; }
	button:hover, button:focus {
	  text-decoration: none !important;
	  outline: none !important;
	  -webkit-box-shadow: none !important;
	  box-shadow: none !important; }
  
  h1, h2, h3, h4, h5,
  .h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: "Poppins", Arial, sans-serif;
	color: #000; }
  
  .ftco-section {
	padding: 7em 0; }
  
  .ftco-no-pt {
	padding-top: 0; }
  
  .ftco-no-pb {
	padding-bottom: 0; }
  
  .heading-section {
	font-size: 28px;
	color: #000; }
	.heading-section small {
	  font-size: 18px; }
  
  .img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center; }
  
  .navbar.bg-dark {
	padding: 15px 10px;
	background: #f36918!important;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); }
  
  .navbar-btn {
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none !important;
	border: none; }
  
  .line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 40px 0; }
  
  .wrapper {
	width: 100%; }
	#sidebar ul.components li {
		font-size: 14px; }
  #sidebar {
	min-width: 270px;
	max-width: 270px;
	background: #04397b;
	color: #fff;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s; }
	.navbar li a{
		color:#ffffffee;
	}
	#sidebar.active {
	  min-width: 80px;
	  max-width: 80px;
	  text-align: center; }
	  #sidebar.active ul.components li {
		font-size: 12px; }
		#sidebar.active ul.components li a {
		  padding: 10px 0; }
		  #sidebar.active ul.components li a span {
			margin-right: 0;
			display: block;
			font-size: 24px; }
	  #sidebar.active .logo {
		padding: 10px 0; }
	  #sidebar.active .footer {
		display: none; }
	#sidebar .logo {
	  display: block;
	  color: #fff;
	  font-weight: 900;
	  padding: 10px 30px;
	  -webkit-transition: 0.3s;
	  -o-transition: 0.3s;
	  transition: 0.3s; }
	  @media (prefers-reduced-motion: reduce) {
		#sidebar .logo {
		  -webkit-transition: none;
		  -o-transition: none;
		  transition: none; } }
	#sidebar ul.components {
	  padding: 0;
	  -webkit-transition: 0.3s;
	  -o-transition: 0.3s;
	  transition: 0.3s; }
	  @media (prefers-reduced-motion: reduce) {
		#sidebar ul.components {
		  -webkit-transition: none;
		  -o-transition: none;
		  transition: none; } }
	#sidebar ul li {
	  font-size: 16px; }
	  #sidebar ul li > ul {
		margin-left: 10px; }
		#sidebar ul li > ul li {
		  font-size: 14px; }
	  #sidebar ul li a {
		padding: 10px 30px;
		display: block;
		color: white;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
		#sidebar ul li a span {
		  margin-right: 15px; }
		  @media (max-width: 991.98px) {
			#sidebar ul li a span {
			  display: block; } }
		#sidebar ul li a:hover {
		  color: #fff; }
	  #sidebar ul li.active > a {
		background: transparent;
		color: #fff; }
	@media (max-width: 991.98px) {
	  #sidebar {
		min-width: 80px;
		max-width: 80px;
		text-align: center;
		margin-left: -80px !important; }
		#sidebar.active {
		  margin-left: 0 !important; } }
  
  a[data-toggle="collapse"] {
	position: relative; }
  
  .dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%); }
  
  @media (max-width: 991.98px) {
	#sidebarCollapse span {
	  display: none; } }
  
  .footer {
	padding: 0 30px; }
	@media (max-width: 991.98px) {
	  .footer {
		display: none; } }
  
  #content {
	width: 100%;
	padding: 0;
  
	min-height: 100vh;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s; }
  
  .btn.btn-primary {
	background: #04397b;
	border-color: #04397b; }
	.btn.btn-primary:hover, .btn.btn-primary:focus {
	  background: #04397b !important;
	  border-color: #04397b !important; }
	  .navbar h1{
	  margin:0;
	  padding:0;
	  line-height:1em;
	  padding-right:0.3em
  }
  #sidebar{
	  position:relative;
  }
  button#sidebarCollapse {
    width: 20px;
    left: 1.2em;
}
  .logo figure {
	  margin: 0;
	  margin-right: 1em;
  }
  nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark {
    box-shadow: 0 0 17px 0px #582b00;
}

.table .thead-dark th {
    border: none;
    background-color: white;
    color: black;
}

table.table.table-bordered.table-hover {
    border: none;
    border-radius: 1em;
}

thead.thead-dark {
    border-radius: 1em;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.table .thead-dark th:first-child {
    border-top-left-radius: 0.7em;
    background: #04397b;
}

.table .thead-dark th:last-child {
    border-top-right-radius: 0.7em;
    background: #04397b;
}
.table .thead-dark th{
    background: #04397b;
    color:white;
}
.table .thead-dark {
    box-shadow: 0 3px 15px -7px #04397b;
    border: none;
}
table tbody:last-child tr td {
    background: white;
}

table tbody:last-child tr td:last-child {
    border-bottom-right-radius: 0.5em;
    background: white;
}
table tbody:last-child tr td:first-child {
    border-bottom-left-radius: 0.5em;
    background: white;
}

table tbody:last-child tr td:last-child {
    border-bottom-right-radius: 0.5em;
    background: white;
}
td{border:1px solid #ecf4fd!important}

nav#sidebar {
    position: fixed;
    height: 100vh;
    padding-top: 6.5em;
}

div#content {
    margin-left: 250px;
}

div#content.sidebar {
    margin-left: 100px;
}
@media screen and (max-width:500px){
    div#content {
    margin-left: 0;
}
#sidebarCollapse{
	display:none;
}
#sidebarCollapseTop{
	display:block!important;
}
div#content.sidebar {
    margin-left: 0;
}
nav#sidebar {
	display:none;
}
nav#sidebar.active {
	display:block;

    box-shadow: 20px 0px 400px 400px #00000078;
}
}

@media screen and (min-width:500px){
	.table-responsive {
		display: table;
	}
}


.page-tablas a.py-3 {
	line-height: 120px;
	border: 4px solid white;
	font-size: 1.5em;
	transition: all 0.19s ease-in-out;
}

.page-tablas a.py-3:hover {
	background-blend-mode: overlay;
	background-color: #04397b30!important;
	color:black;
	background-blend-mode: overlay;
	background-size: auto;
}
.page-tablas a.py-3 *, .page-tablas a.py-3{
	transition: 0.19s ease-in-out;
}
.page-tablas a.py-3:hover *, .page-tablas a.py-3:hover{
	color:#333!important;
}


body.page-login #sidebar{
    display:none;
    
}

body.page-login ul.nav.navbar-nav.ms-auto {
    display:none;
}

body.page-login  .container-fluid {
    flex-direction: column-reverse;
}
body.page-login  button#sidebarCollapseTop {
    display:none!important;
}

body.page-login #content{
    margin-top:6em!important;
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    min-height:auto;
}
.brote-dev {
	margin: 1em auto;
	display: block;
	text-align: center;
    position: fixed;
    bottom: 0;
    right: 1em;

}


/*  Maps */
table .map-container {
    width: 200px;
    height: 200px;
}


/*Logs  */

.value-container {
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 300px; /* Ajusta según tus necesidades */
  }

  .expanded .value-container {
    white-space: normal;
    overflow: visible;
    max-width: 300px;
}
/* DataTables  */
.id-column {
    width: 50px; /* Ajusta este valor según necesites */
  }

  .actions-column {
    width: 200px;
  }
tr.filters, tr.filters th {
    /* background: white!important; */
    box-shadow:none;
    border-top-left-radius: 0;
    padding:0;
    font-size:12px;
}
tr.filters th * {
    font-size:12px!important;
    color:white;
}

.table .thead-dark tr.filters th:first-child{
    border-radius:0;
    
}

